* {
  box-sizing: border-box;
}

body {
  display: grid;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 124, 8%;
}

input,
button,
textarea {
  font-size: inherit;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  border: 3px solid black;
}



