.page-header {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.678);
    text-align: center;
  }
  
.page-header__img {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba(0, 0, 0, 0.678);
    border-radius: 10%;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: 180px;
    height: 220px;
  }
  
.menu {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
  }
  
.menu__item > * {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.678);
    padding: 5px 5px;
  }
  
.page-main {
    display: block;
    border-bottom: 5px solid rgba(0, 0, 0, 0.678);
  }
  
.page-main__skills {
    width: 100%;
  }
  
.page-main__interessen {
    width: 100%;
  }
  
.page-main__bio {
    width: 100%;
  }
  
.footer__kontakt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
.footer__img {
    width: 32px;
    height: 32px;
  }
  
.footer__img:hover {
    border: 3px solid peru;
  }
  
@media (max-width: 500px) {
 .menu {
   display: block;
   justify-content: space-around;
 }
 .menu__item {
   margin-top: 20px;
 }

 .footer__kontakt {
   display: grid;
   grid-column: auto;
 }
}